$main-font: 'Open Sans';
$headers-font: 'Roboto Slab', serif;
$slogan-font: 'Roboto Slab', serif;
$nav-font:  'Roboto Slab', serif;

body {
	font: $main-font;
}

p {
	font-family: $main-font;
	font-size: 15px;
	line-height: 1.5em;
}

nav.main {
	font-family: $nav-font;
	font-weight: 400;
}

footer nav {
	font-family: $nav-font;
	a {
		text-decoration: none;
	}
}

.slogan {
	font-family: $slogan-font;
	font-size: 18px;
	text-align: center;
}

.menuToggle {
	font-size: 12px;
}

h1 {
	font-family: $headers-font;
	font-size: 26px;
	font-weight: 400;
	text-transform: uppercase;
}

.txt-center {
	text-align: center;
}

strong em {
	letter-spacing: 0.01em;
	font-family: $headers-font;
	font-weight: 400;
	font-size: 16px;
	margin: auto;
}

.call-to-action {
	font-family: $headers-font;
	font-size: 20px;
}

#hello {
	clear: both;	
	display: block;
}

.copyright {
	
}

@media screen and (min-width: 768px) {
	span.slogan {
		text-align: left;
	}
}

@media screen and (min-width: 1024px) {
	span.slogan {
		font-size: 24px;
	}
}
