@import "colors";
@import "typography";

body {
	background: $main-color;
	font: $main-font;
	h1 {
		color: $accent-color;
	}
}


header {
	.logo {
		width: 250px;
	}
}

nav {
	width: 100%;
	ul {
		list-type: none;
		li {
			padding: 5px;
			color: $accent-color;
		}
	}
}