@import "colors";
@import "typography";
@import "animations";
@import "griddle";

* { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.wrap {
	margin: 0 5%;
	width: 90%;
}

img {
	max-width: 100%;
	display: block;
}

header.main {
	text-align: center;

	.logo {
		display: block;
		margin: 12px auto 8px auto;
		position: relative;
		width: 180px;
	}
}


.slogan {
	display: inline-block;
	margin: 6px auto 5px auto;
	width: 100%;
}

nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}	
}

nav.main {
	margin: 10px 0 10px 0;
	text-transform: uppercase;
	ul {
		display: none;
	}
	li {
		font-size: 22px;
		margin: 10px 0;
		padding: 0 41px;
		position: relative;
		width: 100%;
	}
	a {
		display: block;
		padding: 12px 0;
		text-decoration: none;
		width: 100%;
	}
}

footer nav {
	li {
		display: inline-block;
	}
}

.menuToggle {
	cursor: pointer;	
	display: block;
	padding: 5px 5px;
	position: absolute;
	right: 0;
	top: 0;
}

#toggle {
	position: absolute;
	margin-left: -999999px;
}
#toggle:checked ~ ul { display: block; }

.svg nav.main a:before,
.svg nav.main a:after {
	background: transparent url('../img/menu_item_ends.svg');
	background-size: 100%;
	background-repeat: none;
	content: "";
	display: inline-block;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 43px;
}

.svg nav.main a:before { left: 0; }
.svg nav.main a:after { right: 0; background-position: -85px -28%;}

.svg nav.main li:nth-child(2n+2) a:before { background-position: left 34%;}
.svg nav.main li:nth-child(2n+2) a:after { background-position: left -61%;}

.svg .separator {
	background: transparent url('../img/separator_center.svg');
	background-repeat: repeat-x;
	height: 13px;
	margin: 14px auto 17px auto;
	position: relative;
	width: 85%;
	&:before,
	&:after {
		background-repeat: no-repeat;
		content: "";
		display: block;
		height: 13px;
		position: absolute;
		width: 28px;
	}
	&:before {
		background: url('../img/separator_left.svg') no-repeat;
		left: -21px;
	}
	&:after {
		background: url('../img/separator_right.svg') no-repeat;
		right: -22px;
		top: -1px;
	}
}

.call-to-action {
	display: block;
	height: 45px;
	line-height: 40px;
	margin: auto;
	width: 90px;
}

.borderradius .call-to-action {
	border-radius: 45px;
	height: 90px;
	line-height: 85px;
	padding: 20px auto;
}

.left { display: block; float: left; }
.right { display: block; float: right; }

@media screen and (min-width: 768px) {
	.wrap {
		max-width: 768px;
		margin: auto;
	}
	.svg .separator {
		width: 96%;
	}

	header.main {
		text-align: left;
		.logo {
			display: inline-block;
			margin: 16px 0 0 0;
			width: 25%;
		}
		.slogan {
			display: inline-block;
			margin: 0;
			padding: 0 0 0 1%;
			position: relative;
			width: 74%;
		}
	}

	.inline-block-bottom { vertical-align: bottom;}

	@include griddle-build(2 3 4, '--tablet');
}

@media screen and (min-width: 1024px) {
	.wrap {
		max-width: 1024px;
		height: 400px;
	}

	@include griddle-build(2 3 4, '--desktop');
}


